<div class="panel panel-default">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> Add New User</p>
	</div>
	<div class="panel-body">
		<form ng-submit="addUser()">
    <div class="form-group">
      <label for="name">Nom:</label>
      <input type="text" class="form-control" id="name" ng-model="user.name">
    </div>
    <div class="form-group">
      <label for="last_name">Siret:</label>
      <input type="text" class="form-control" id="siret" ng-model="user.siret">
    </div>
    <div class="form-group">
      <label for="email">Adresse:</label>
      <input type="text" class="form-control" id="adresse" ng-model="user.adresse">
    </div>
      <div class="form-group">
      <label for="phone_number">Contact :</label>
      <input type="text" class="form-control" id="contact" ng-model="user.contact">
    </div>
    <div class="form-group">
      <label for="phone_number">Nombre d'employés :</label>
      <input type="text" class="form-control" id="nb_employe" ng-model="user.nb_employe">
    </div>
    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Save</button>
    <a href="#/Userdb" class="btn btn-default"> Cancel</a>
</form>
    <div>
<div>
