<div class="panel panel-default" ng-init="showUser()">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-edit"> </span> Edit User</p>
	</div>
	<div class="panel-body">
		<form ng-submit="updateUser()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" ng-model="user.name" value="user.name">
    </div>
    <div class="form-group">
      <label for="dept">Siret:</label>
      <input type="text" class="form-control" id="siret" ng-model="user.siret" value="user.siret">
    </div>
    <div class="form-group">
      <label for="area">Adresse:</label>
      <input type="text" class="form-control" id="adresse" ng-model="user.adresse" value="user.adresse">
    </div>
      <div class="form-group">
      <label for="salary">Contact :</label>
      <input type="text" class="form-control" id="contact" ng-model="user.contact" value="user.contact">
    </div>
    <div class="form-group">
      <label for="salary">Nombre d'employé :</label>
      <input type="text" class="form-control" id="nb_employe" ng-model="user.nb_employe" value="user.nb_employe">
    
    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Update</button>
    <a href="#/Userdb" class="btn btn-default"> Cancel</a>
</form>
    <div>
<div>
