<div class="panel panel-default" ng-init="getUsers()">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;"
class="glyphicon glyphicon-list"> </span> Users List</p>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
			<tr>
			  <th>Nom</th>
			  <th>Siret</th>
			  <th>Adresse</th>
				<th>Contact</th>
				<th>Nombre d'employés</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="user in users">
			  <td>{{ user.name }}</td>
			  <td>{{ user.siret }}</td>
			  <td>{{ user.adresse }}</td>
				<td>{{ user.contact }}</td>
				<td>{{ user.nb_employe }}</td>
			  <td>
			    <a href="#/Userdb/{{user._id}}/show" class="btn btn-info"> Show  </a>
			    <a href="#/Userdb/{{user._id}}/edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Edit  </a>
			  	<a ng-click="deleteUser(user._id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> Delete </a>
			  </td>
			</tr>
			</tbody>
		</table>
    <div>
<div>
