<div class="panel panel-default" ng-init="showUser()">
	<div class="panel-heading">
	  <p class="panel-title"> User Detail Information</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Name: {{ user.name }}</label>
		 <label class="form-control">Siret: {{ user.siret }}</label>
		 <label class="form-control">Adresse: {{ user.adresse}}</label>
		 <label class="form-control">Contact: {{ user.contact }}</label>
		 <label class="form-control">Nombre d'employé: {{ user.nb_employe }}</label>
		<a href="#/Userdb" class="btn btn-default"> Cancel</a>
		</div>
	</form>
    <div>
<div>
